<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi primera API</title>
  <link rel="icon" type="image/x-icon" href="./assets/">
  <meta name="description" content="Mi primera API"/>


  <!-- ---------------- estilos compartidos de login y signup ---------------- -->
  <link rel="stylesheet" href="./signup.css">

  <!-- ---------------------- logica aplicada en login ----------------------- -->
  <script src="./utils.js"></script>
  <script src="./login.js"></script>

</head>

<body>

  <header class="container">
    <nav>
      <h1>Mi primer API App| <span>Commodore64</span></h1>
      <img src="./assets/" alt="H">
    </nav>
  </header>

  <div class="container">
      <div class="form-header">
        <h2>Mi primer API</h2>
        <p id="id" class="rounded"></p>
        <p id="titulo" class="rounded"></p>
        <p id="precio" class="rounded"></p>
        
  


    <div class="ingresarA">
      <a href="https://important-glossy-tempo.glitch.me/signup">¿No tienes una cuenta? Regístrate aquí</a>
    </div>
    </div>
    </div>

  <script>
    const  Contenedor=  import('./../Contenedor.js')
    //const myInstance = new Contenedor("./productos.txt");
    const productoId= document.querySelector('#id')
    productoId.innerHTML=
      //.getById(-1))
  
  
  </script>
</body>

</html>