<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi primera API</title>
  <link rel="icon" type="image/x-icon" href="./assets/">
  <meta name="description" content="Mi primera API"/>


  <!-- ---------------- estilos compartidos de login y signup ---------------- -->
  <link rel="stylesheet" href="./signup.css">

  <!-- ---------------------- logica aplicada en login ----------------------- -->
  <script src="./utils.js"></script>
  <script src="./login.js"></script>

</head>

<body>

  <header class="container">
    <nav>
      <h1>Mi primer API App| <span>Commodore64</span></h1>
      <img src="./assets/" alt="H">
    </nav>
  </header>

  <div class="container">
      <div class="form-header">
        <h2>Mi primer API</h2>
        <p id="id" class="rounded"></p>
        <p id="titulo" class="rounded"></p>
        <p id="precio" class="rounded"></p>
        <p id="imagen" class="rounded"></p>
        
        
  


    <div class="ingresarA">
      <a href="https://important-glossy-tempo.glitch.me/signup">¿No tienes una cuenta? Regístrate aquí</a>
    </div>
    </div>
    </div>

  <script>
    productoId=document.querySelector("#id")
    productoTitulo=document.querySelector("#titulo")
    productoPrecio=document.querySelector("#precio")
    productoImagen=document.querySelector("#precio")
    productoId.innerHTML="1"
    productoTitulo.innerHTML="Escuadra"
    productoPrecio.innerHTML="99.45"
    productoId.style.width="10rem"
    productoPrecio.style.width="10rem"
    productoTitulo.style.width="10rem"
    productoId.style.margin="3rem"
    productoPrecio.style.margin="3rem"
    productoPrecio.style.textAlign="center"
    productoId.style.textAlign="center"
    productoTitulo.style.textAlign="center"
    productoImagen=document.querySelector("#imagen")
    
    
    
  </script>
</body>

</html>