<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Api App</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/786523fc-0d05-4caa-afba-8403d0037b78/Commodore-64.jpg?v=1664118348800">
  <meta name="description" content="Mi primera API"/>


  <!-- ---------------- estilos compartidos de login y signup ---------------- -->
  <link rel="stylesheet" href="/crud.css">


  <!-- ---------------------- logica aplicada en register -------------------- -->
  <script src="./scripts/utils.js" defer></script>
  <script src="./scripts/crud.js" defer></script>

</head>

<body>
  <header class="container">
    <nav>
      <h1>Mi primer API App| <span>Commodore64</span></h1>
      
    </nav>
  </header>

  <div class="container">
    
      <div class="form-header" id="functions">
        <p class="rounded" id="post">POST</p>
        <p class="rounded" id="put">PUT</p>
        <p class="rounded" id="delete">DELETE</p>
      </div >
      <div class="form-header hidden" id="idSelection">
        <p class="rounded" id="arrowDown">&lt-----</p>
        <p class="rounded" id="idfield">ID</p>
        <p class="rounded" id="arrowUP">-----&gt</p>
      </div >
    <form autocomplete="off" class="hidden" id="form">
      


      <label>Title</label>
      <input id="inputTitle" type="text">

      <label>Price</label>
      <input id="inputPrice" type="text">

      <label>URL</label>
      <input id="inputUrl" type="text">
     
      <button type="submit" id="submit">Enviar</button>
    
         
    </form>

    <div class="ingresarA">
      <a href="https://important-glossy-tempo.glitch.me/index">¿Ya tienes una cuenta? Ingrese aquí</a>
    </div>
  </div>
  <script>
  postFunction=document.querySelector("#post").addEventListener('click',(e)=>{alert('post')})
  putFunction=document.querySelector("#put").addEventListener('click',(e)=>{alert('put')})
  delFunction=document.querySelector("#delete").addEventListener('click',e=>{alert('delete')})
  delFunction=document.querySelector("#form").addEventListener('click',(e)=>{e.preventDefault();alert('delete')})
  idSelection=document.querySelector("#IdSelection").classList.remove.('hidden')
  functions=document.querySelector("#functions").classList.add.('hidden')
  idField=document.querySelector('idField')
  arrowDown=document.querySelector("#arrowDown").addEventListener(click)
    
  
  
  
  
  </script>

</body>

</html>