<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejemplo1</title>
</head>
<body>
    <ul></ul>
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
datos={nombre:'Ariel',apellido:'Rubel',edad:52,email:'arubel@fibertel.com.ar',telefono:'+5491168199003'}
Object.keys(datos).forEach((e)=>{
template=Handlebars.compile('<li>{{campo}}</li>');
const html=template({campo:(e+": "+datos[e])})

const placement = document.querySelector('ul')
placement.innerHTML+=html})

</script>

</body>
</html>