<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api App</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.glitch.global/786523fc-0d05-4caa-afba-8403d0037b78/Commodore-64.jpg?v=1664118348800"
    />
    <meta name="description" content="My First API app" />

    <!-- ---------------- estilos compartidos de login y signup ---------------- -->
    <link rel="stylesheet" href="./signup.css" />

    <!-- ---------------------- logica aplicada en register -------------------- -->
    <script src="./scripts/utils.js" defer></script>
    <script src="./scripts/signup.js" defer></script>
  </head>
  <body>
    <header class="container">
      <nav>
        <h1>My first API App | <span>Commodore64</span></h1>
      </nav>
    </header>
    <div class="container">
      <h1>Hola bienvenido a mi primer servidor</h1>

      <h2 id="endpoints">Endpoints disponibles</h2>
      <div class="form-header">
        <h2>My first API</h2>
        <p class="rounded" id="time">Los Endpoints</p>
      </div>
      
      <div id="epcontainer">
        <div>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/productos"
              >Visualizar todos los productos : /productos</a
            >
          </h3>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/producto/{id}"
              >Visualizar productos por la id : /productos/id</a
            >
          </h3>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/productoRandom"
              >Visualizar productos randomly : /productoRandom</a
            >
          </h3>
        </div>
        <div>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/json/productos"
              >Descarga via API de productos : /json/productos</a
            >
          </h3>
          <h3>
            <a
              href="https://important-glossy-tempo.glitch.me/json/producto/{id}"
              >Descarga via API de un producto: /json/productos/id</a
            >
          </h3>
          <h3>
            <a
              href="https://important-glossy-tempo.glitch.me/json/productoRandom"
              >Descarga via API de un random : /json/productoRandom/</a
            >
          </h3>
        </div>
        <div>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/signup"
              >signup (solo HTML): /signup</a
            >
          </h3>
          <h3>
            <a href="https://important-glossy-tempo.glitch.me/index"
              >index (solo HTML): /index</a>
          </h3>
                <h3>
            <a href="https://important-glossy-tempo.glitch.me/card"
              >card (solo HTML): /card</a
            >
          </h3>
        </div>
        </div>
       
       </div>
    <div id="soon">
            
          <h3>COMING SOON</h3>
          
            
          

          <h3>POST</h3>
          <h3>PUT</h3>
          <h3>DELETE</h3>
      </div>
     

      <div class="ingresarA">
        <a href="https://important-glossy-tempo.glitch.me/index.html"
          >¿Ya tienes una cuenta? Ingrese aquí</a
        >
      </div>
    <script src="./prueba.js"></script>
  </body>
</html>
