

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* capa sobre fondo */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  font-family: "Outfit", sans-serif;
  background-color: var(--gray);

  color: var(--Dblue);

}

:root {
  --white: hsl(0, 0%, 100%);
  --gray: hsl(212, 45%, 89%);
  --Gblue: hsl(220, 15%, 55%);
  --Dblue: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  margin: 0% 16%;
  text-align: center;
  padding-top: 10px;
  color: var(--Gblue);
}




img {
  border-radius: 10px;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  background-color: yellow;
  margin: 4rem;
  
}

h1 {
  font-size: 140%;
  text-align: center;
  margin: 2% 14%;
}

h2 {
  font-size: 100%;
  text-align: center;
  margin: 2% 14%;
}

.imgholder {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container3 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  flex-direction:column;
  width:100vw;
}

.ingresarA {
  padding: 1rem 0;
  text-align: center;
}

a {
  width: 20rem;
  border: 1px solid black;
 
  text-decoration: none;
  border-radius: 15px;
  padding: 0.4rem 2rem;
  color: var(--laranja);
}

a:hover {
  color: var(--azul);
  background-color: var(--laranja);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


.container2 {
  display: flex;
  
  flex-wrap:wrap;
  align-content: center;
  justify-content:space-around;
  margin: 10rem;
  width:80%;
  
}

.titulo{font-size:50px;
  text-align:center;
  color:white;}

  #panel{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:2rem;
  width:16rem;
  background-color:black;
  border-radius:15px;
    border:white solid 1px;
}


