@import url('./globalStyles.css');

body {
    background-image: url('../assets/commodore-64.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* capa sobre fondo */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);

}
.izquierda{text-align:left;}

.derecha{text-align:right;}

h2{margin:2rem}

h3{margin:1rem;background-color:black;border-radius:15px;padding:.4rem 2rem;border:1px solid white;backgroud-color:white;text-align:center}

.epcontainer{display:flex;justify-content:space-between;align-items:center}

#soon{margin:3rem 2rem;display:flex;justify-content:space-between;width:95vw;border: 1px white solid;border-radius:15px;background-color:black}

header {
    background-color: var(--negro);
    height: 5rem;
    margin-bottom: 1rem;
}

nav {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 span {
    font-weight: 300;
    font-size: 1rem;
    color: var(--lila);
}
nav img {
    display: block;
    height: 80%;
}

.container {
    padding: 0 2%;
}

form {
    background-color: var(--negro);
    max-width: 24rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}


.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-header h2 {
    margin-bottom: .8rem;
}

.form-header p {
    background-color: var(--lila);
    padding: .2rem 1rem;
}

form label {
    margin-bottom: .3rem;
}

form input {
    border-radius: 100vh;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    border: 2px solid var(--app-grey);
}

form input:focus {
    outline: none;
    border: 2px solid var(--lila);
}

form button{
    background-color: var(--azul);
    color: white;
    padding: .8rem 0;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 400;
}
form button:hover{
    background-color: var(--azul-hover);
}

.ingresarA {
    padding: 1rem 0;
    text-align: center;
}

a{width:20rem;text-decoration:none;}

 a {
    color: var(--laranja);
}
a h3:hover{
    color: var(--azul);background-color:white;
}

